.horizontal-wrap {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  height: 30px;
  padding-right: 5px;

  > span {
    box-sizing: border-box;
    display: inline-block;
    flex: 0 0 auto;
    padding: 2px 5px;
    font-size: 14px;
    border: 1px solid #fff;
    border-radius: 10px;
  }

  > span:first-child {
    color: grey;
  }

  > .selected {
    color: #d44439;
    border: 1px solid #d44439;
    opacity: 0.8;
  }
}
