.recommend-wrap {
  .recommend-title {
    padding-left: 6px;
    font-size: 14px;
    font-weight: 700;
    line-height: 60px;
  }

  .recommend-list {
    .list-item {
      position: relative;
      width: 32%;
    }
  }
}
